<% prevMDisabled = "disabled" if  (Time.now - 10.hour).to_date.month.eql? date.month %>
<%=link_to "<", "/monthCalendar?monthNum=#{monthNum - 1}", class: "btn btn-primary btn-sm #{prevMDisabled}", remote: true%>
<div class="smCalendarTitle">
  <p><%= date.strftime("%B %Y")%></p>
</div>
  <%=link_to ">", "/monthCalendar?monthNum=#{monthNum + 1}", class: "btn btn-primary btn-sm", remote: true%>
<table class="smCalendar">
  <th>Su</th>
  <th>Mo</th>
  <th>Tu</th>
  <th>We</th>
  <th>Th</th>
  <th>Fr</th>
  <th>Sa</th>
  <% getWeeks(date).each do |week| %>
    <tr style="padding: 0px;">
      <%week.each do |day|%>
        <td>
          <button class="btn btn-sm" <%= "disabled" if (day < Time.now - 10.hour)%> onclick='toggle(".<%=day.strftime("%F")%>");'>
            <%=day.strftime("%d")%>
            <br>
            <% if events.any? {|event| event.start_at.to_date.eql?(day) && event.start_at > (day) }%>
              <span class="dot bPrimary"></span>
            <%else%>
              <span class="dot bGray"> </span>
            <%end%>
          </button>
        </td>
      <%end%>
    </tr>
  <%end%>
</table>
