<table style="margin: auto;">
  <div>
    <%=link_to "<", "/monthCalendar?monthNum=#{monthNum - 1}", class: "btn btn-primary", remote: true%>
    <h2 style="display: inline-block;"><%= date.strftime("%B %Y")%></h2>
    <%=link_to ">", "/monthCalendar?monthNum=#{monthNum + 1}", class: "btn btn-primary", remote: true%>
  </div>
  <th>Su</th>
  <th>Mo</th>
  <th>Tu</th>
  <th>We</th>
  <th>Th</th>
  <th>Fr</th>
  <th>Sa</th>
  <% getWeeks(date).each do |week| %>
    <tr>
      <%week.each do |date|%>
        <td style="height: auto;">
          <%= date.day %>
          <br>
          <%= events.count {|event| event.start_at.to_date.eql?(date)}%>
        </td>
      <%end%>
    </tr>
  <%end%>
</table>
