<script>
  function
</script>
<div>
  <%=link_to "<", "/monthCalendar?monthNum=#{monthNum - 1}", class: "btn btn-primary", remote: true%>
  <div style="display: inline-block; width:200px">
    <p> <%= date.strftime("%B %Y")%></p>
  </div>
  <%=link_to ">", "/monthCalendar?monthNum=#{monthNum + 1}", class: "btn btn-primary", remote: true%>
</div>
<table style="margin: auto; width: 300px;">
  <th>Su</th>
  <th>Mo</th>
  <th>Tu</th>
  <th>We</th>
  <th>Th</th>
  <th>Fr</th>
  <th>Sa</th>
  <% getWeeks(date).each do |week| %>
    <tr>
      <%week.each do |date|%>
        <td style="height: 50px;">
          <button class="btn btn-sm" style="margin: 0px;" onclick='toggle(".<%=date.strftime("%Y-%m-%d")%>");'>
            <%= date.day %>
            <br>
            <% if events.any? {|event| event.start_at.to_date.eql?(date) && event.start_at > (Time.now - 10.hour) }%>
              <span style="  height: 10px; width: 10px; background-color: #8C1D40;
              border-radius: 50%; display: inline-block;"
              ></span>
            <%else%>
              <span style="  height: 10px; width: 10px; background-color: #bbb;
              border-radius: 50%; display: inline-block;"
              ></span>
            <%end%>
          </button>
        </td>
      <%end%>
    </tr>
  <%end%>
</table>
